<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Update employee</title>
</head>
<body>
<style>table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  background: white;
  max-width: 70%;
  width: 70%;
  border-collapse: collapse;
  text-align: left;
}
th {
  font-weight: normal;
  color: #039;
  border-bottom: 2px solid #6678b1;
  padding: 10px 8px;
}
td {
  color: #669;
  padding: 9px 8px;
  transition: .3s linear;
}
tr:hover td {
  color: #6699ff;
}</style>
<form action="#" th:action="@{/admin/user-update}" th:object="${user}" method="post">
  <label for="id">ID</label>
  <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
  <br/>
  <label for="firstName">First Name: </label>
  <input type="text" th:field="*{username}" id="firstName">
  <br>
  <label for="lastName">Last Name: </label>
  <input type="text" th:field="*{lastName}" id="lastName">
  <br>
  <label for="gender">Gender: </label>
  <select th:field="*{gender}" id="gender">
    <option th:each="gender : ${T(ru.itmentor.spring.boot_security.demo.model.Gender).values()}"
            th:value="${gender}" th:text="${gender.getDisplayName()}"></option>
  </select>
  <br>
  <label for="email">email:</label>
  <input type="text" th:field="*{email}" id="email">
  <br>
  <label for="password">Password: </label>
  <input type="password" th:field="*{password}" required minlength="6" id="password">
  <br>
  <select name="nameRoles" multiple size="2">
    <option th:each="role : ${roles}"
            th:value="${role.name}"
            th:text="${role.getName()}">
    </option>
  </select>
  <br>
  <br>
  <input type="submit" value="Update user">
</form>
</body>
</html>